@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
    --sidebar-bg: #EF476F;
    --sidebar-menu-color: white;
    --sidebar-menu-icon-color: white;
    --sidebar-menu-header-color: red;
}