<div class="container mt-24  flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
  <section class="w-full">
    <h2 id="blog" class="secondary-title">Blog</h2>
    <div class="grid gap-5 grid-cols-6">
      <div>
        <div class="border rounded-lg border-gray-400 w-full mt-8 col-span-1">
          <div class="relative">
            <div class="h-28 rounded-t-lg p-5">
              <h2 class="uppercase underline">Catégories</h2>
              <div class="p-5">
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
            </div>
            <div class="py-5 px-5 h-28">
            </div>
          </div>
        </div>
        <div class="border rounded-lg border-gray-400 w-full mt-8 shadow ">
          <div class="relative h-auto py-3">
            <div class="py-3 px-5 ">
              <h3 class="uppercase underline font-bold">Tags</h3>
            </div>
            <div class="w-full px-5">
              <div class="">
                <ul>
                  <li>Voyage</li>
                  <li>Poker</li>
                  <li>Livre</li>
                  <li>Code</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-span-5">
        <div class="border rounded-lg border-gray-400 w-full mt-8">
          <div class=" grid grid-cols-3 h-50 py-7">
            <div class="p-4 cols-span-1 place-content-center">
              <img src="https://picsum.photos/seed/picsum/300/200" alt="" class=" bg-cover bg-center bg-no-repeat">
            </div>
            <div class="py-2 px-5 col-span-2 ">
              <a href="" class="underline">
                <h2 class="font-bold uppercase">#1 Carnets de Traverse</h2>
              </a>
                <p>Carnets de Traverse, c’est un blog créé par Julie en 2008, il recense plusieurs carnets de voyage de ses différentes escapades illustrées de photographies réalisées par ses soins.
                </p>
                <p>La blogueuse se sert de photos polaroid pour agrémenter ses articles, ce qui donne l’utilisation d’un véritable carnet de voyage sous forme de scrapbook. Elle donne également ses conseils pour des road trips réussis aux quatre coins du monde
                </p>
            </div> 
          </div>
        </div>
        <div class="border rounded-lg border-gray-400 w-full mt-8">
          <div class=" grid grid-cols-3 h-50 py-7">
            <div class="p-4 cols-span-1 place-content-center">
              <img src="https://picsum.photos/seed/picsum/300/200" alt="" class=" bg-cover bg-center bg-no-repeat">
            </div>
            <div class="py-2 px-5 col-span-2 ">
              <a href="" class="underline">
                <h2 class="font-bold uppercase">#1 Carnets de Traverse</h2>
              </a>
                <p>Carnets de Traverse, c’est un blog créé par Julie en 2008, il recense plusieurs carnets de voyage de ses différentes escapades illustrées de photographies réalisées par ses soins.
                </p>
                <p>La blogueuse se sert de photos polaroid pour agrémenter ses articles, ce qui donne l’utilisation d’un véritable carnet de voyage sous forme de scrapbook. Elle donne également ses conseils pour des road trips réussis aux quatre coins du monde
                </p>
            </div> 
          </div>
        </div>
        <div class="border rounded-lg border-gray-400 w-full mt-8">
          <div class=" grid grid-cols-3 h-50 py-7">
            <div class="p-4 cols-span-1 place-content-center">
              <img src="https://picsum.photos/seed/picsum/300/200" alt="" class=" bg-cover bg-center bg-no-repeat">
            </div>
            <div class="py-2 px-5 col-span-2 ">
              <a href="" class="underline">
                <h2 class="font-bold uppercase">#1 Carnets de Traverse</h2>
              </a>
                <p>Carnets de Traverse, c’est un blog créé par Julie en 2008, il recense plusieurs carnets de voyage de ses différentes escapades illustrées de photographies réalisées par ses soins.
                </p>
                <p>La blogueuse se sert de photos polaroid pour agrémenter ses articles, ce qui donne l’utilisation d’un véritable carnet de voyage sous forme de scrapbook. Elle donne également ses conseils pour des road trips réussis aux quatre coins du monde
                </p>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
