<div class="container mt-64 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
	<section class="w-full">
		<h2 id="client" class="secondary-title">Clients</h2>
		<p class="section-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	</section>
</div>
