<div class="container mt-64 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
	<section class="w-full">
		<div class="grid grid-cols-3 text-center">
            <div class="col-span-1 border-r-2 border-theme">
                <h4>Social</h4>
                <div class="flex justify-evenly mt-6">
                    <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-span-1 border-r-2 border-theme">
                <h4 class="space-y-5">Contact</h4>

                <div class="mt-5">
                    <a href="mailto:codeviral1970@gmail.com">contacter moi</a>
                </div>
            </div>
            <div class="col-span-1">
                <ul>
                    <li>
                        <a href="{{ path('app_home') }}#home">Accueil</a>  
                    </li>
                    <li>A propos</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
	</section>
</div>
<footer class="mt-8">
    <div class="line container px-6 py-4 mx-auto">
        <div class="p-4">
            <p class="text-center text-gray-800 dark:text-white">© Brand 2020 - All rights reserved</p>
        </div>
    </div>
</footer>