<div class="container mt-32 flex justify-between  px-8 md:px-14 lg:px-24 w-full mb-64 bg-white">
	<div class="relative w-full max-w-lg mb-60  justify-center items-center mx-auto bg-white h-[400px]">
		<div class="absolute bg-purple-300 w-72 h-72 rounded-full top-20 -left-2 mix-blend-multiply blur-xl animate-blob"></div>
		<div class="absolute bg-yellow-300 w-72 h-72 rounded-full top-20 -right-2 mix-blend-multiply blur-xl animate-blob"></div>
		<div class="absolute bg-pink-300 w-72 h-72 rounded-full -bottom-[70px] -left-[-100px] mix-blend-multiply blur-xl animate-blob"></div>

	</div>
</div>