<div class="container flex justify-center mx-auto bg-white h-full">

	<div class="relative w-[350px] h-[720px] bg-black rounded-[60px] shadow-xl overflow-hidden border-[14px] border-black">
		<img src="https://i.pinimg.com/736x/d6/b8/19/d6b819a4d4e0abeaa3557d2e4a55afec.jpg" alt="" class="absolute w-full h-full inset-0 object-cover">
		<div class="absolute top-0 inset-x-0">
			<div class="h-6 w-40 mx-auto bg-black rounded-b-3xl"></div>
		</div>
		<div class="relative">
			<div class="mt-2 mr-5 flex justify-end space-x-1">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
					<path d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M8.111 16.404a5.5 5.5 0 017.778 0M12 20h.01m-7.08-7.071c3.904-3.905 10.236-3.905 14.141 0M1.394 9.393c5.857-5.857 15.355-5.857 21.213 0" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
					<path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" />
					<path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z" />
				</svg>
			</div>
			<div class="h-0.5 w-10 bg-white ml-auto mr-7 mt-1.5 rounded"></div>
			<div class="mt-3 flex flex-col items-center">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
					<path d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z" />
				</svg>
				<div class="text-white mt-5 font-extralight text-6xl">9:45</div>
				<div class="text-white mt-3 font-extralight text-lg">Samedi 6 août</div>
			</div>
			<div class="mt-4 mx-2 relative">
			<div class="absolute h-full inset-x-0 bg-white/10 backdrop-blur-md -bottom-6 rounded-3xl scale-[0.75] origin-bottom shadow-sm"></div>
				<div class="absolute h-full inset-x-0 bg-white/10 backdrop-blur-md -bottom-4 rounded-3xl scale-[0.85] origin-bottom shadow-sm"></div>
				<div class="absolute h-full inset-x-0 bg-white/40 backdrop-blur-md -bottom-2 rounded-3xl scale-95 origin-bottom shadow-sm"></div>
				<div class="bg-white/40 backdrop-blur-md rounded-3xl p-4 shadown">
					<div class="flex justify-between">
						<div class="">
							<p class="text-xs font-bold text-black">10:40</p>
							<h2 class="text-lg font bold text-black">Vos news du jour</h2>
						</div>
						<span class="bg-gray-500 rounded-full w-8 h-8 flex items-center justify-center">20</span>
					</div>
					<div class="mt-2 grid grid-cols-2 gap-2">
						<div>
							<img src="https://cdn.visitportugal.com/sites/default/files/styles/experiencias_detalhe/public/mediateca/N1012d.jpg?itok=jZ8Lmg2g" alt="surfer guy" class="rounded-md">
							<h3 class="text-black text-bold mt-2 leading-tight">Surfing is good</h3>
							<p class="text-black font-extralight text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
						<div>
							<img src="https://cdn.visitportugal.com/sites/default/files/styles/experiencias_detalhe/public/mediateca/N1012d.jpg?itok=jZ8Lmg2g" alt="surfer guy" class="rounded-md">
							<h3 class="text-black text-bold mt-2 leading-tight">Surfing is good</h3>
							<p class="text-black font-extralight text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
					<hr class="mt-4 border-black/20">
					<div class="mt-2 grid grid-cols-3 gap-1 items-end">
						<div class="col-span-2">
							<h3 class="text-bold text-lg text-black">Poker news</h3>
							<p class="text-black text-sm">Poker, bad beat, full house, couleur max</p>
						</div>
						<ul class="flex flex-row-reverse -space-x-4 space-x-reverse">
							<li><img class="w-8 h-8 object-cover rounded-xl" src="https://picsum.photos/id/213/200/300" alt=""></li>
							<li><img class="w-8 h-8 object-cover rounded-xl" src="https://picsum.photos/id/222/200/300" alt=""></li>
							<li><img class="w-8 h-8 object-cover rounded-xl" src="https://picsum.photos/id/239/200/300" alt=""></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="absolute bottom-0 inset-x-0 h-20">
			<div class="flex justify-between px-10">
				<button class=" bg-gray-800/50 rounded-full p-3 ">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 items-center" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
					</svg>
				</button>
				<button class=" bg-gray-800/50 rounded-full p-3">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
					</svg>
				</button>
			</div>
		</div>
		<div class="absolute inset-x-0 bottom-1">
			<div class="h-1 w-28 mx-auto bg-white rounded-md"></div>
		</div>
	</div>
</div>