<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Email message</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #17171F;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        .container {
            padding: 20px:
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
    </style>
</head>
<body>
  <div class="body">
    <div class="container">
      <div class="content">
        <h1 class="text-center">Content de te voir {{user}}!</h1>
        <p class="block">
          {{message}}
        </p>
      </div>
      <div class="footer">
        <p class="block bottom text-center">
            Sent with ❤️ from the friendly folks at The Space Bar
        </p>
      </div>
    </div>
  </div>
</body>
</html>